/* add CSS class and element and selectors here */
body {
  background-color:turquoise;
  color:purple;
}

h3 {
  font-size: 300%;
  color: purple;
  text-shadow: 2px 2px #fdff99;
}

div{
  border: dotted;
}